/* Styling for the local storage demo page */

html {
    font-size: 14px;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    background: #13192c; // #000720 // #0F252E; // #0A2833; // #052124
    color: #ffffff;
}

main {
    padding: 5vh 5vw;
    font-size: 1.25rem;
    text-align: center ;
}

.intro {
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

main * {
    line-height: 1.5;
}

h1,
h2 {
    font-weight: 400;
}

h1 {
    font-size: 3rem;
    line-height: 1;
    padding-bottom: 2rem;
    color: #476c97;
    font-weight: 400;
}

a {
    position: relative;
    text-decoration: none;
    color: #2eccb0;
}

a:hover,
a:focus {
    color: #b9aa1f;
}

a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #2eccb0;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease-in-out 0s;
}

a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

// ---- Form styling ----

button, input[type=submit] {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    background: #476c97;
    background: #2eccb0;
    // background: #04060a;
    // border: 4px solid #04060a;
    border: none;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
}

input[type=submit] {
    margin-bottom: 2rem;
}

label {
    font-size: inherit;
}

input[type=text] {
    padding: 0.25rem 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.25rem;
}

